.Card {
  max-width: 1136px;
  min-height: 570px;
  margin: 25px auto;

  :global {
    .ant-card-body {
      padding: 0;
      height: 100%;
    }
  }

  .CardBody {
    padding: 16px 30px;
    width: 100%;
  }
}

.FlexWrapper {
  display: flex;
}

.FlexColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}